@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "antd/dist/antd.css";
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #2d2d2d;
    font-family: "Mulish";
    letter-spacing: 0.01em;
    background-color: #e5e5e5;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.search-modal {
    .ant-modal {
        max-width: 100%;
        margin: 0;
    }
}

.search-input {
    .ant-input {
        background: #eff1f4;
    }
    .ant-input-clear-icon {
        width: 16px;
        height: 16px;
        background: url("/images/close.svg") no-repeat center/contain;
        margin: 0;
        svg {
            display: none;
        }
    }
}

.no-decorate {
    border: 0 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.width-plus-16 {
    width: calc(100% + 16px);
}
